$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../_bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// CHART BUILDER
#chart-builder {

  // The left side column 
  #controls {
    height: 400px;
    overflow-y: scroll;
    .group {
      ul {
        h4 {
          cursor: pointer;
        }
        padding-left: 0;

        li {
          list-style: none;
        }
      }
    }
  }

  #preview {
    iframe {
      width: 100%;
    }
  }
}
