$icon-font-path: "fonts/";
// bower:scss
@import "../_bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Typography etc from saco's own css
@import 'saco';

$color-saco   : rgb(63, 152, 166);
$color-orange : #DF782C;

.chart text {
  font-family: "proxima-nova", Arial, sans-serif;
}

// GENERAL
h3 {
  font-size: 20pt; 
}

a, a:active, a:visited {
  color: $color-saco;
}
a:hover {
  color: darken($color-saco, 10%);
}
.btn {
  background-color: #fff;
  border: 1px solid #333;
  font-weight: bold;
  display: inline-block;

  .glyphicon {
    margin-right: 6px;
  }
}
.btn:hover {
  background-color: #ccc;
}
.btn:active, .btn.active {
  background-color: #333;
  color: #fff;
  box-shadow: 0;
}
.btn:focus, .btn.focus, .btn.active:focus, .btn.active.focus {
  outline: none;
}

// Hide all elements classed desktop in mobile
.desktop {
  display: none;
}

// CHART BUILDER
#chartbuilder {

  // The left side column 
  #controls {
    position: absolute;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    width: 300px;
    padding: 0 20px;
    background-color: #E6E6E6;

    .group {
      ul {
        h4 {
          cursor: pointer;
        }
        padding-left: 0;

        li {
          list-style: none;
        }
      }
    }
  }

  #preview {
    margin-left: 300px;
    padding: 0 20px;

    iframe {
      width: 100%;
      max-width: 600px;
    }
  }
}

// Align numbers right
.number {
  text-align: right;
}

// DASHBOARD
#dashboard {
  #lists {
    .list-row {
      clear: both;
    }

    h3 {
      font-size: 20px;
    }

    .extra {
      display: none;
    }
    // Make space for "procentenheter"
    .change {
      .number {
        min-width: 150px;
      }
    }
    .buttons {
      margin-bottom: 8px;
      .btn-fewer {
        display: none;
      }
      .btn-all {
        display: block;
      }
    }
    
    .show-all {
      .extra {
        display: table-row;
      }
      .btn-fewer {
        display: block;
      }
      .btn-all {
        display: none;
      }
    }
  }
  

  // Tab buttons
  .tabpanel {
    clear: both;

    .nav-tabs>li.active>a, 
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {

      background-color: #f1f0ef;
      border: 1px solid #ddd;
      border-bottom: 2px solid transparent;
      cursor: default;

    }

    .nav-tabs {
      text-align: center; 
      li {
        display: inline-block;
        float: none;
        a {
          margin-right: 0;
          margin-left: 0;
          line-height: 1.42857;
          border: 1px solid #ddd;
          border-bottom-color: transparent;
          border-radius: 4px 4px 0 0;
          font-size: 16px;
        }
      }  
    }
  }
  // The content of the tabs
  .tab-content {
    padding: 30px;
    background-color: #f1f0ef;
    border: 1px solid #ddd;
    border-top: 0;
  }

}



// MOBILE CHART (a basic table)
.chart-mobile {
  padding: 3%;
  background-color: #f1f0ef; 
  letter-spacing: 3%;
}

// CHART
.chart {
  .subtitle {
    margin-bottom: 20px;
  }

  button:focus {
    outline: none;
  }

  .c3-legend-background {
    opacity: .75;
    fill: #fff;
    stroke: #d3d3d3;
    stroke-width: 1;
    border-radius: 9px;
    padding-bottom: 40px;
  }

  .th {
    border: solid;
    color: black;
  }

  .c3-axis {
    path, line {
      opacity: 0;
    }
  }
  .c3-axis-x {
    text {
      font-size: 15px;
    }
  }
  


  .rotated {
    .c3-axis-x {
      text {
        font-size: 11px;
      }
    }
  }
  .c3-grid {
    line {
      opacity: 0;
    }
    .c3-xgrid-focus {
      display: none;
    } 
  }
  // Change buttons
  .view-buttons {
    margin-left: 60px;
    .btn {
      margin-right: 10px;
    }
  }


  // Source and time
  .source-time {
    display: inline-block;
    float: right;

    .time, .source {
      display: block;
      text-align: right;
    }
  }
}


// STYLES FOR DESKTOP
@media screen and (min-width: 450px) {
  .desktop {
    display: inherit;
  }
  .chart-mobile {
    display: none;
  }
}

@media screen and (min-width: 550px) {
  // Dashboard
  #lists {
    .dashboard-list {
      float: left;
      display: inline-block;
      width: 44%;
      margin: 3%;

      table {
        width: 100%;
      }
    }
  } 
}
  