/* Typography
=========================================== */
/* Font */
/* change to proximo nova reg */
/* change to proximo nova reg*/
/* change to  BerlingNovaDisplayPro */
/* color */
/* Links */
/* Background */
/*JT Added*/
/* border */
/*@font-face {
    font-family: 'BerlingLTStdRoman';
    src: url('/Content/Fonts/berlingltstd-roman.eot');
    src: url('/Content/Fonts/berlingltstd-roman.eot') format('embedded-opentype'),
         url('/Content/Fonts/berlingltstd-roman.woff') format('woff'),
         url('/Content/Fonts/berlingltstd-roman.ttf') format('truetype'),
         url('/Content/Fonts/berlingltstd-roman.svg#BerlingLTStdRoman') format('svg');
}*/
@font-face {
  font-family: 'BerlingNovaDisplayPro';
  src: url('/Content/Fonts/2C5E3B_0_0.eot');
  src: url('/Content/Fonts/2C5E3B_0_0.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/2C5E3B_0_0.woff2') format('woff2'), url('/Content/Fonts/2C5E3B_0_0.woff') format('woff'), url('/Content/Fonts/2C5E3B_0_0.ttf') format('truetype');
}
body {
  font-family: "proxima-nova", Arial, sans-serif;
  font-weight: 300;
  color: #212424;
}
h1,
h2,
h3,
h4,
h5,
h6,
h1 p {
  margin: 0 0 5px 0;
  padding: 0;
  font-weight: normal;
}
h1,
h1 a,
h1 p {
  font-family: 'BerlingNovaDisplayPro';
  color: #212424;
  font-size: 25px;
  font-size: 1.5625rem;
}
h2,
h2 a {
  font-size: 17px;
  font-size: 1.0625rem;
  color: #000000;
}
h3,
h3 a {
  font-size: 15px;
  font-size: 0.9375rem;
  color: #212424;
}
h4,
h4 a {
  font-size: 14px;
  font-size: 0.875rem;
  color: #212424;
}
a {
  text-decoration: none;
  color: #008ea1;
  font-size: 14px;
  font-size: 0.875rem;
}
p {
  margin: 0 0 1em 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.45;
}
p a,
strong a {
  text-decoration: underline;
}
b,
strong {
  font-weight: 700;
}
.Byline {
  color: #757575;
  font-style: italic;
  font-size: 14px;
  font-size: 0.875rem;
}
blockquote {
  margin: 0;
}
blockquote p {
  padding-left: 62px;
  margin-bottom: 30px;
  line-height: 1.3;
  quotes: "\201C" "\201D";
  font-size: 26px;
  font-size: 1.625rem;
  position: relative;
}
blockquote p a {
  font-family: 'BerlingNovaDisplayPro';
}
blockquote > p:before {
  content: open-quote;
  font-size: 46px;
  font-size: 2.875rem;
  position: absolute;
  left: 43px;
  top: -10px;
}
blockquote > p:after {
  content: close-quote;
  font-size: 46px;
  font-size: 2.875rem;
  position: absolute;
}
.Article blockquote {
  padding-left: 62px;
  margin-bottom: 30px;
  line-height: 1.3;
  quotes: "\201C" "\201D";
  font-size: 26px;
  font-size: 1.625rem;
  position: relative;
  font-family: 'BerlingNovaDisplayPro';
  /*&::before{
            content: open-quote;   .font-size(46); position:absolute;left:43px; top:-10px;
        }
        &::after{
             content: close-quote;   .font-size(46);position:absolute;
        }*/
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.Article p {
  margin-bottom: 20px;
}
.Article ul li:before {
  content: "• ";
  color: #008ea1;
  /* or whatever color you prefer */
}
.Article ul {
  margin: 0 0 40px 30px;
}
.Article li {
  line-height: 1.5;
}
.Headline-divider {
  border-bottom: 2px solid #000000;
  padding-bottom: 20px;
  margin-bottom: 23px;
  text-transform: uppercase;
  font-weight: 300;
}
footer h4,
footer a,
footer h4 a,
footer p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #ffffff;
}
.h-divider {
  border-top: 1px solid #e8e9e9;
  margin-top: 20px;
  padding-top: 40px;
}
.Teaser--tool-headline {
  text-transform: uppercase;
}
label {
  margin-bottom: 5px;
  display: inline-block;
}
.Mobile-heading {
  color: #fff;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}
.Media-headline {
  font-family: 'BerlingNovaDisplayPro';
  margin-bottom: 5px;
}
.News-headline {
  clear: both;
  margin-bottom: 12px;
  font-family: 'BerlingNovaDisplayPro';
}
.Play-headline {
  font-size: 34px;
  font-size: 2.125rem;
  font-family: "proxima-nova", Arial, sans-serif;
  font-weight: 600;
}
.Calendar-headline-event {
  font-size: 36px;
  font-size: 2.25rem;
  font-family: "proxima-nova", Arial, sans-serif;
  font-weight: 300;
}
.Union-headline {
  font-size: 60px;
  font-size: 3.75rem;
  font-family: "proxima-nova", Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 22px;
}